@{
    ViewData["Title"] = "AddHolding";
}

<h2>AddHolding</h2>


<form asp-action="Create" asp-controller="Holding" method="post">
    <input type="text" name="Name" />
    <input type="submit" class="btn btn-dark" value="Add" />
</form>
